In [10]:
import numpy as np
import pandas as pd
import json
import csv

In [11]:
df = pd.read_json("yelp_dataset/checkin.json",lines= True);

In [12]:
df.head()

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [13]:
def process(element):
    tempList = element.split(",")
    inn = []
    for v in tempList:
        temp = v.strip().split(" ")
        inn.append((temp[0],temp[1]))
    return inn

In [6]:
# df["date_time"] = df.apply(lambda x:process(x[1]), axis = 1)
# df["business_id"] = df.apply(lambda x:x[0].replace("-","").replace("=",""),axis = 1)
# df = df.drop(["date"],axis = 1)

In [14]:
df.head(6)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...
5  --9e1ONYQuAa-CB_Rrw7Tw  2010-02-08 05:56:47, 2010-02-15 04:47:42, 2010...

In [15]:
df.to_csv("./yelp_dataset/newCheckin.csv",encoding='utf-8')