In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/il_reviews.csv")

In [3]:
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,mofOjB6flg-eAWOFbOkHfQ,0,2017-12-02 20:22:26,0,8MTptiOpUeuPUFZgtfk9Vw,1,I would have given this restaurant zero stars ...,1,9-vNlkNQL7OJQZ7-U965Ww
1,mofOjB6flg-eAWOFbOkHfQ,0,2017-12-16 04:31:05,0,ofpfzn8LV4nJ2pE6IlTVdg,1,So...no. Just...no. Before I picked up a plate...,1,-FcgbLbKjPgpst5qFU3-lg

In [4]:
df.drop(["cool","date","funny","useful"],axis = 1,inplace=True)

In [5]:
df.head(2)

,business_id,review_id,stars,text,user_id
0,mofOjB6flg-eAWOFbOkHfQ,8MTptiOpUeuPUFZgtfk9Vw,1,I would have given this restaurant zero stars ...,9-vNlkNQL7OJQZ7-U965Ww
1,mofOjB6flg-eAWOFbOkHfQ,ofpfzn8LV4nJ2pE6IlTVdg,1,So...no. Just...no. Before I picked up a plate...,-FcgbLbKjPgpst5qFU3-lg

In [6]:
df[["business_id","text"]].as_matrix()[0]

array(['mofOjB6flg-eAWOFbOkHfQ',
       "I would have given this restaurant zero stars if the app allowed it. This is a disgusting restaurant. You can find roaches lurching around the food. The 'clean' dishes next to buffet items are mostly dirty. Just look at the bottom of the plate. This restaurant should really be inspected by authorities."], dtype=object)

In [7]:
processedData = list(df[["business_id","text"]].as_matrix())

In [8]:
processedData[0]

array(['mofOjB6flg-eAWOFbOkHfQ',
       "I would have given this restaurant zero stars if the app allowed it. This is a disgusting restaurant. You can find roaches lurching around the food. The 'clean' dishes next to buffet items are mostly dirty. Just look at the bottom of the plate. This restaurant should really be inspected by authorities."], dtype=object)

# Convert to Tokens

In [9]:
import nltk

In [34]:
from nltk import sent_tokenize
from nltk import word_tokenize
from nltk import pos_tag
import string

In [24]:
WNlemma = nltk.WordNetLemmatizer()

In [47]:
def funcTemp(x):
    res = []
    ans = []
    ans.append(x[0])
    data = x[1]
    
    for val in sent_tokenize(data):
        val = val.strip(string.punctuation)
        res.append(pos_tag([WNlemma.lemmatize(w.strip(string.punctuation)) for w in word_tokenize(val) if w.strip(string.punctuation)!=""]))
    ans.append(res)
    return ans

In [48]:
map(funcTemp,processedData[:30])

In [49]:
list(map(funcTemp,processedData[:30]))[0][1]

[[('I', 'PRP'),
  ('would', 'MD'),
  ('have', 'VB'),
  ('given', 'VBN'),
  ('this', 'DT'),
  ('restaurant', 'NN'),
  ('zero', 'NN'),
  ('star', 'NN'),
  ('if', 'IN'),
  ('the', 'DT'),
  ('app', 'NN'),
  ('allowed', 'VBD'),
  ('it', 'PRP')],
 [('This', 'DT'),
  ('is', 'VBZ'),
  ('a', 'DT'),
  ('disgusting', 'NN'),
  ('restaurant', 'NN')],
 [('You', 'PRP'),
  ('can', 'MD'),
  ('find', 'VB'),
  ('roach', 'JJ'),
  ('lurching', 'VBG'),
  ('around', 'IN'),
  ('the', 'DT'),
  ('food', 'NN')],
 [('The', 'DT'),
  ('clean', 'JJ'),
  ('dish', 'JJ'),
  ('next', 'JJ'),
  ('to', 'TO'),
  ('buffet', 'VB'),
  ('item', 'NN'),
  ('are', 'VBP'),
  ('mostly', 'RB'),
  ('dirty', 'JJ')],
 [('Just', 'RB'),
  ('look', 'NN'),
  ('at', 'IN'),
  ('the', 'DT'),
  ('bottom', 'NN'),
  ('of', 'IN'),
  ('the', 'DT'),
  ('plate', 'NN')],
 [('This', 'DT'),
  ('restaurant', 'NN'),
  ('should', 'MD'),
  ('really', 'RB'),
  ('be', 'VB'),
  ('inspected', 'VBN'),
  ('by', 'IN'),
  ('authority', 'NN')]]